@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  width: fit-content;
}

ul li {
  position: relative;
}

ul li:before {
  content: '';
  height: 9px;
  width: 9px;
  background-color:green;
  position: absolute;
  border-radius: 10px;
  top: 15px;
  left: -30px
}
